
.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.inputs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background: red;
}

.fileInfo {
    position: absolute;
    left: 0;
    top: 50px;

}
